<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <h1>Homepage</h1>   
    <%= user %>
    
    <%- include('./partials/scripts.ejs')%>
</body>
</html>